.cart--card--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border: #d0d0d0 solid 2px;
    border-radius: 10px;
    width: 320px;

    padding: 10px;
}

.cart--card--container img {
    height: 150px;
    filter: drop-shadow(20px 10px 20px rgba(143, 92, 32, 0.1))
        drop-shadow(10px 5px 10px rgba(143, 92, 32, 0.1));
    padding-right: 10px;
}

.cart--card--container h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #000000;
    margin-right: auto;
}

.cart--card--container h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #000000;
    padding-right: 3px;
}

.cart--card--remove--container {
    display: flex;
    align-items: center;
    justify-content: center;
}
