.menu-main-container {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 40px;
}

.menu-main-container h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    text-align: center;

    color: #000000;

    padding: 40px;
}

.menu-items-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
